# Vim
**/.*.swp

# Rust
backend/target/
backend/data/
**/*.rs.bk

# Javascript
frontend/node_modules

# Quasar core related directories
frontend/.quasar
frontend/dist

# python
backend_tests/__pycache__
backend_tests/env

# private deployment script
deploy.sh
